



	

P { text-align: center }


font-family {

	helvetica; 
}

h1 {


	color:blue;
}

h2{

	
	color: blue;
	

}
table {

	align: center;
}

td {


	border-style: solid;
	border-color: red;
	border-width: 1px;
}

.center {
    text-align: center;
    border: 3px solid green;
}