

text-align { 

center;

	} 
body{

	background-image: url('assets/img/marble_back.jpg')
}


font-family {

	helvetica; 
}

h2{

	
	color: blue;
	

}
table {

	align: center;
}

td {


	border-style: solid;
	border-color: red;
	border-width: 1px;
}
